*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#container{
	width:100%;
	margin: 20px;
}
.sec1{
	display: flex;
    width: fit-content;
    border-radius: 5px;
    overflow: hidden;
}
a{
	text-decoration:none;
	padding:8px 15px;
	
}
.button1{
	background-color:rgb(220,52,76);
	color:white;
}
.button2{
	background-color:rgb(251,194,8);
	color:black;
}
.button3{
	background-color:rgb(28,134,81);
	color:white;
}
